.mini {
    height: 42px;
    width: 32px;
}

.login {
    width: 400px;
    height: 255px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.barra-lateral {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: white;
    margin-left: 30px;
}

.wrap {
    margin: auto;
}

.registro {
    width: 400px;
    height: 455px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.body-bg {
    background-image: url(/assets/img/fondo.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tamano {
    height: 585px;
    width: 100vw;
    object-fit: cover;
}

.bordes {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.barra {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.presentacion {
    margin-top: 1rem;
    height: 90%;
    width: 90%;
    object-fit: cover;
}

/* Carrusel Autos */
.tamano2 {
    height: 400px;
    width: 100vw;
    object-fit: cover;
}

/* Imágenes de los productos*/
.card-img-top {
    height: 150px;
    object-fit: cover;
}

body,
html {
    height: 100%;
}

/*footer*/
.content {
    min-height: calc(100vh - 250px);
}

.content-prod {
    min-height: calc(100vh - 50px);
}

.footer {
    height: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* página de los autos */
.autos-cards {
    width: 80%;
}

.autos {
    flex-direction: row;
}

.filtro {
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 20%;
    height: 500px;
    margin-right: 1rem;
}

.container-icon .text {
    display: none;
}

/* media querys */
@media (max-width: 768px) {
    .autos {
        flex-direction: column !important;
        align-items: center;
    }

    .filtro {
        width: 100%;
        margin: 0 auto;
    }

    .autos-cards {
        width: 100%;
    }

    .ficha-auto {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1rem;
        max-width: 700px;
    }

    .presentacion img {
        width: 100%;
    }

    .tab-content {
        width: 70%;
    }

    .container-icon svg {
        display: none;
    }

    .container-icon .text {
        color: #919191;
        margin-bottom: 20px;
        display: inline-block;
    }

}

/*Carrito*/
.container-icon {
    position: relative;
}

.container-icon:hover {
    cursor: pointer;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;
    margin-right: 15px;
    background-color: red;
    color: white;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 12px;

}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.20);
    border-radius: 10px;
}

.hidden-cart {
    display: none;
}

.cart-product {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.icon-close {
    width: 30px;
    height: 30px;
}